<br><br><br><br>
<form class="form-search" align = "middle" action="/recommendations/search">
  <input type="text" class="input-medium search-query" name="query">
  <button type="submit" class="btn">Search</button>
  <%= link_to "New Recommendation", new_recommendation_path, class: "btn btn-primary btn-large" %>
</form>

<h1 >Recommendations For You</h1>
<div class="recommendations-list" >
  <% @recommendations.each do |recommendation|  %>
    <ul class="recommendation" >
      <li ><h3><%= "#{recommendation.title} : #{recommendation.description} : #{recommendation.url} : #{recommendation.tag}"%>
        <%= link_to "+#{recommendation.likes}", recommendation_likes_path(recommendation) %>
      </h3></li>
    </ul>
  <% end %>
</div>

