<%= link_to "New Recommendation", new_recommendation_path, class: "btn btn-primary btn-large" %>
<h1>Recommendations For You</h1>
<div class="recommendations-list">
  <% @recommendations.each do |recommendation|  %>
    <ul class="recommendation">
      <li><h3><%= "#{recommendation.title} : #{recommendation.description} : #{recommendation.url} : #{recommendation.tag}"%>
        <%= link_to "+#{recommendation.likes}", recommendation_likes_path(recommendation) %>
      </h3></li>
    </ul>
  <% end %>
</div>